body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn {
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}

.number {
    border: 1px solid greenyellow; 
    border-radius: 10px;
}

.number:hover {
    background-color: palegreen;
}

.operator {
    border: 1px solid steelblue; 
    border-radius: 10px;
}

.decimal {
    border: 1px solid gold; 
    border-radius: 10px;
}

.equal {
    border: 1px solid lightcoral; 
    border-radius: 10px;
}

#clear-button {
    border: 1px solid palevioletred; 
    border-radius: 10px;
}