body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn {
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}

.number {
    border: 1px solid #adff2f; 
    border-radius: 10px;
}

.number:hover {
    background-color: #98fb98;
}

.operator {
    border: 1px solid #4682b4; 
    border-radius: 10px;
}

.operator:hover {
    background-color: #afeeee;
}

.decimal {
    border: 1px solid #ffd700; 
    border-radius: 10px;
}

.decimal:hover {
    background-color: #FDDC5C;
}

.equal {
    border: 1px solid #f08080; 
    border-radius: 10px;
}

.equal:hover {
    background-color: #fea2a2;
}

#clear-button {
    border: 1px solid #d87093; 
    border-radius: 10px;
}

#clear-button:hover {
    border: transparent;
    background-color: #ec9cb7;
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.screen {
    width: 300px;
    border: 1px solid chocolate;
    height: 75px;
    margin: 15px;
}

.previous {
    font-size: 20px;
}

.current {
    font-size: 35px;
}